*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
nav > ul{
    display: flex;
    gap: 45px;
    justify-content: center;
    padding: 30px 15px;
}
nav > ul >li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
}


/* footer  */
.footer{
    margin:45px 0px;
    text-align: center;
}
.formContent{
    margin: 25px 0px;
}
label{
    display: block;
    font-size: 20px;
    height: 50px;
}
input{
    height: 30px;
    width: 200px;
    font-size: 18px;
}
fieldset{
    padding: 10px 25px;
}
.commonPerinput{
    margin-left: 0px;
}
.second{
    margin-top: 30px;
}
.third{
    margin-top: 30px;
}

th,tr,td{
    border: 1px solid black;
    padding: 25px 50px;

}
table{
    border-collapse: collapse;
    
}
li{
    list-style: none;
}
th,caption{
    background: #6cc8b3;
}
caption{
    padding: 25px 0px;
    margin-top: 25px;
}
tfoot{
    background: #4ea164;
}

/* nested menu  */

nav li{
    padding: 15px;
}
nav li:hover{
    background-color: #a35858;
}
nav ul .aboutChild{
    display: none;
    position: absolute;
    background-color: #4ea164;
    color: #120101;
    margin-top: 15px;
    
}
nav ul li:hover > .aboutChild {
    display: block;   
}
